body {
	color: black;
	font-size: 16px;
	font-family: Helvetica;
}

div {
	display: block;
}

 a {
 	text-decoration: none;
 }

/*Navigation*/
#navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4rem;
	background-color: white;
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
}

.logo img {
	height: 2.5rem;
}

.logo span {
	text-transform: uppercase;
	font-size: 1.25rem;
}

.colmar {
	font-weight: 500;
	padding-right: 0.1rem;
}

.academy {
	font-weight: 200;
	color: #999898;
}

#desknav {
	display: flex;
    padding-right: 1.5rem;
}

#desknav li {
	display: inline-block;
	padding: 0px 0.5rem;
    font-weight: 300;
}

#mobnav {
	display: none;
}

@media only screen and (max-width: 660px) {
	#desknav {
		display: none;
	}

	#mobnav {
	    display: flex;
        padding-right: 1.5rem;
    }

    #mobnav li {
	    display: inline-block;
	    padding: 0px 0.5rem;
        font-weight: 300;
    }

    .colmar {
	    display: none;
}

    .academy {
	    display: none;
}
}


/*Learn Section*/
#learn {
	display: flex;
	align-items: center;
	padding: 2rem 1.5rem;
	background-color: #d3d2d3;
}

.bannerleft img {
  width: 100%;
  height: auto;
}

.bannerimg {
  width: 60%;
}

.bannerright {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2rem;
	width: 30%;
	line-height: 1.4;
}

.banneright,
h1 {
 	font-size: 3rem;
 	font-weight: 700;
 	color: #444444;
 	padding-bottom: 2rem;
 }

 .banneright,
 p {
 	font-size: 1.5rem;
 	color: #444444;
    padding-bottom: 2rem;
 }
 
 .button {
 	background-color: #414141;
 	color: white;
 	width: 85%;
 	text-align: center;
 	padding: 0.5rem;
 	font-size : 1.5rem;
 }

 .button:hover {
    background-color: #858585;
    box-shadow: 10px 10px 5px #888888;
 }




